# Build/Distribution files
dist
dist-ssr
#
# Debugging artifacts
lerna-debug.log*
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
#
# Logs
*.log
logs

# Node Development
node_modules

# Test Reports
cypress/screenshots
cypress/videos
coverage
playwright-report
test-results

# Other
*.local
